 html{
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
.homepage{
    background-image: url('/img/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.game{
    background-image: url('/img/grassmap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.outer-container {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.header h1{
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-style: italic;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #07f7ff, 0 0 40px #26c2dd, 0 0 50px #36f2ff, 0 0 60px #00ffff, 0 0 70px #21f3f3;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #11edfd, 0 0 40px #0cc6e7, 0 0 50px #02ffd5, 0 0 60px #00f7ff, 0 0 70px #24f8ff, 0 0 80px #00ffff;
    }
  }

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    width: 100%;
}

/* starta spel knapp */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 247, 255, 0.616) 0px 7px 29px 0px;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    border-radius: 1px;
    color: blue;
}

.button:hover{
    background-color: rgba(87, 170, 238, 0.521);
}

#toggleHighscore {
    position: absolute;
    display: none;
    height: auto;
    width: 100%;
    bottom: 0;
    background-color: white;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 247, 255, 0.616) 0px 7px 29px 0px;
    color:blue;
}

#toggleHelp{
    display: none;
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 247, 255, 0.616) 0px 7px 29px 0px;
    color:blue;

}
p{
    margin: 5px;
}